S3 Connection and configurations

In [ ]:
import boto3
import pandas as pd

# Function to setup the connectionwith the S3 resource.
def configure_s3_client():
    # Configure S3 credentials
    aws_access_key_id = 'AKIAQPFFDDWRVVZHEF6S'
    aws_secret_access_key = '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'
    aws_region_name = 'us-east-2'

    # Create an S3 client
    s3_client = boto3.client('s3',
                            aws_access_key_id=aws_access_key_id,
                            aws_secret_access_key=aws_secret_access_key,
                            region_name=aws_region_name)
    
    return s3_client


# Function to download the CSV locally from S3
def download_csv_locally():

    # Specify the S3 bucket name and file key
    bucket_name = 'cdp-pf-ca'
    file_key = 'input_csv/pollution_us_2000_2016_1000.csv'

    # Download the CSV file from S3 to local disk
    s3_client.download_file(bucket_name, file_key, 'sourcedata.csv')

    return

RDS SQL Server Connection and configurations

In [ ]:
import pymssql

def Connect_AirPollutiondb():
    # Connect to the SQL Server RDS instance
    connection={
        'host': 'cdp-of-transac-db-sqlserv.cxvu5cgewkxj.us-east-2.rds.amazonaws.com',
        'username': 'superadmin',
        'password': 'cdp-Admin3',
        'db': 'AirPollution'
    }

    #Creating a connection
    connection = pymssql.connect(connection['host'],connection['username'],connection['password'],connection['db'])

    # Crear una nueva tabla llamada "TestTable"
    cursor = connection.cursor()
    cursor.execute("""
        CREATE TABLE TestTable3 (
            id INT PRIMARY KEY,
            nombre VARCHAR(255),
            valor INT
        );
    """)
    print("Tabla 'TestTable' creada exitosamente.")

    # Confirmar los cambios y cerrar la conexión
    connection.commit()
    connection.close()

In [ ]:
import pymssql

def Setup_AirPollutiondb():
    # Connect to the SQL Server RDS instance
    connection={
        'host': 'cdp-of-transac-db-sqlserv.cxvu5cgewkxj.us-east-2.rds.amazonaws.com',
        'username': 'superadmin',
        'password': 'cdp-Admin3',
        'db': 'AirPollution'
    }

    #Creating a connection
    connection = pymssql.connect(connection['host'],connection['username'],connection['password'],connection['db'])

    # Creacion de Tablas

    # Crear una nueva tabla llamada "InputData"
    cursor = connection.cursor()
    cursor.execute("SELECT COUNT(*) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'InputData';")
    table_exists = cursor.fetchone()[0]
    if table_exists:
        print("La tabla 'InputData' ya existe.")
    else:
        cursor.execute("""
            CREATE TABLE InputData (
                id INT PRIMARY KEY,
                StateCode INT,
                CountryCode INT,
                SiteNum INT,
                Address VARCHAR(255),
                State VARCHAR(50),
                County VARCHAR(50),
                City VARCHAR(50),
                LocalDate DATETIME, 
                NO2Units VARCHAR(50),
                NO2Mean FLOAT,
                NO21MaxValue FLOAT,
                NO21MaxHour FLOAT,
                NO2AQI FLOAT,
                O3Units VARCHAR(50),
                O3Mean FLOAT,
                O31MaxValue FLOAT,
                O31MaxHour FLOAT,
                O3AQI FLOAT,
                SO2Units INT,
                SO2Mean FLOAT,
                SO21MaxValue FLOAT,
                SO21MaxHour FLOAT,
                SO2AQI FLOAT,
                CO2Units INT,
                COMean FLOAT,
                CO1MaxValue FLOAT,
                CO1MaxHour FLOAT,
                COAQI FLOAT,
            );
        """)   
        print("Tabla 'InputData' creada exitosamente.")  
    connection.commit()

    # Crear una nueva tabla llamada "Temperature_Log"
    cursor = connection.cursor()
    cursor.execute("SELECT COUNT(*) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Temperature_Log';")
    table_exists = cursor.fetchone()[0]
    if table_exists:
        print("La tabla 'Temperature_Log' ya existe.")
    else:
        cursor.execute("""
            CREATE TABLE Temperature_Log (
                id INT PRIMARY KEY,
                idAddress INT,
                LocalDate DATETIME, 
                NO2Units INT,
                NO2Mean FLOAT,
                NO21MaxValue FLOAT,
                NO21MaxHour FLOAT,
                NO2AQI FLOAT,
                O3Units INT,
                O3Mean FLOAT,
                O31MaxValue FLOAT,
                O31MaxHour FLOAT,
                O3AQI FLOAT,
                SO2Units INT,
                SO2Mean FLOAT,
                SO21MaxValue FLOAT,
                SO21MaxHour FLOAT,
                SO2AQI FLOAT,
                CO2Units INT,
                COMean FLOAT,
                CO1MaxValue FLOAT,
                CO1MaxHour FLOAT,
                COAQI FLOAT,
            );
        """)   
        print("Tabla 'Temperature_Log' creada exitosamente.")  
    connection.commit()
    
    # Crear una nueva tabla llamada "Address"
    cursor = connection.cursor()
    cursor.execute("SELECT COUNT(*) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Address';")
    table_exists = cursor.fetchone()[0]
    if table_exists:
        print("La tabla 'Address' ya existe.")
    else:
        cursor.execute("""
            CREATE TABLE Address (
                id INT PRIMARY KEY,
                StateCode INT,
                CountryCode INT,
                SiteNum INT,
                Address VARCHAR(255),
                State VARCHAR(50),
                County VARCHAR(50),
                City VARCHAR(50),
            );
        """)   
        print("Tabla 'Address' creada exitosamente.")  
    connection.commit()

    # Crear una nueva tabla llamada "Units"
    cursor = connection.cursor()
    cursor.execute("SELECT COUNT(*) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Units';")
    table_exists = cursor.fetchone()[0]
    if table_exists:
        print("La tabla 'Units' ya existe.")
    else:
        cursor.execute("""
            CREATE TABLE Units (
                id INT PRIMARY KEY,
                Decription VARCHAR(50),,
            );
        """)   
        print("Tabla 'Units' creada exitosamente.")  
    connection.commit()

    # Cerrar la conexión con DB
    connection.close()
   
    return


def Connect_AirPollutiondb():
    # Connect to the SQL Server RDS instance
    connection={
        'host': 'cdp-of-transac-db-sqlserv.cxvu5cgewkxj.us-east-2.rds.amazonaws.com',
        'username': 'superadmin',
        'password': 'cdp-Admin3',
        'db': 'AirPollution'
    }

    #Creating a connection
    connection = pymssql.connect(connection['host'],connection['username'],connection['password'],connection['db'])
    return

Input CSV File Processing

In [ ]:
import pandas as pd
import time

# Read the first 100 rows of the CSV file into a Pandas DataFrame 
input_df = pd.read_csv('sourcedata.csv')

# Setup connection with SQL Server
#Connect_AirPollutiondb()

connection={
    'host': 'cdp-of-transac-db-sqlserv.cxvu5cgewkxj.us-east-2.rds.amazonaws.com',
    'username': 'superadmin',
    'password': 'cdp-Admin3',
    'db': 'AirPollution'
}

#Creating a connection
connection = pymssql.connect(connection['host'],connection['username'],connection['password'],connection['db'])

# Function to insert row into SQL Server table
def insert_row(row):
    cursor = connection.cursor()
    #insert_cmd = ("INSERT INTO InputData (id, StateCode, CountryCode) VALUES (CAST(%s AS INTEGER), CAST(%s AS INTEGER), CAST(%s AS INTEGER))")
    #data_cmd = (row['Index'], row['State Code'], row['County Code'])
    #print(row['Index'], row['State Code'], row['County Code'])
    #cursor.execute("INSERT INTO InputData (Id, StateCode, CountryCode, SiteNum, Address, State, County, City, LocalDate, NO2Units, NO2Mean, NO21MaxValue, NO21MaxHour, NO2AQI, O3Units, O3Mean, O31MaxValue, O31MaxHour, O3AQI, SO2Units, SO2Mean, SO21MaxValue, SO21MaxHour, SO2AQI, CO2Units, COMean, CO1MaxValue, CO1MaxHour, COAQI) VALUES (?, ?, ?)", row['Column1'], row['Column2'], row['Column3'], row['Column4'], row['Column5'], row['Column6'], row['Column7'], row['Column8'], row['Column9'], row['Column10'], row['Column11'], row['Column12'], row['Column13'], row['Column14'], row['Column15'], row['Column16'], row['Column17'], row['Column18'], row['Column19'], row['Column20'], row['Column21'], row['Column22'], row['Column23'], row['Column24'], row['Column25'], row['Column26'], row['Column27'], row['Column28'], row['Column29'])
    #cursor.execute("INSERT INTO TestTable2 (id, nombre, valor) VALUES (row['Column1'], row['Column2'], row['Column3'])")
    #cursor.execute("INSERT INTO TestTable2 (id, nombre, valor) VALUES (%d, %d, %d)", (4, 2, 3)) d es para float i para int s para string
    cursor.execute("INSERT INTO InputData (id, StateCode, CountryCode) VALUES (%s, %s, %s)", (int(row['Index']), int(row['State Code']), int(row['County Code'])))     
    #cursor.execute("INSERT INTO InputData (id, StateCode, CountryCode) VALUES (%s, %s, %s)", (54, 65, 53))      
    #cursor.execute(insert_cmd, data_cmd)
    connection.commit()

# Insert rows into SQL Server table every 3 seconds using a while loop
index = 0
while index < len(input_df):
    row = input_df.iloc[index]
    insert_row(row)
    print(f"Row inserted: {row}")
    time.sleep(5)
    index += 1

# Close the connection
connection.close()

print("Data inserted into SQL Server table successfully!")

#cursor.execute("INSERT INTO <table_name> (Column1, Column2, Column3) VALUES (?, ?, ?)", row['Column1'], row['Column2'], row['Column3'])  # Replace with your table name and column names

Main

In [ ]:
# Calls the function to setup S3 connection 
s3_client = configure_s3_client()

#Calls the function to setup the db on SQL Server
#Setup_AirPollutiondb()

#Calls the function to create a connection on SQL Server
#Connect_AirPollutiondb()

# Calls function to download CVS locally from S3
download_csv_locally()